@using QuestionnaireWebApp.Core.Enums
@model FormQuestionnaireViewModel

@{
    ViewData["Title"] = "Опросник";
}

<div class="card mt-3">
  <h5 class="card-header">Анкета</h5>
    <div class="card-body">
        
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Имя</label>
            <input id="personeName" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Имя не введено!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Возраст</label>
            <input id="personAge" type="number" min="1" max="120" class="form-control" required>
            <div id="PersonAgeFeedback" class="invalid-feedback">
                Возраст не введен!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Пол</label>
            <div class="d-flex">
                <label class="form-check-label me-2" for="flexSwitchCheckDefault">М</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="personSex">
                </div>
                <label class="form-check-label" for="flexSwitchCheckDefault">Ж</label>
            </div>
        </div>

        <a id="start" href="#" class="btn btn-primary mt-3">Начать опрос</a>
    </div>
</div>


<div id="questionnaire" class="d-none" data-id="@Model.Questionnaire.Id">
    <div id="Questions" class="questions mt-5">
        
        @foreach (var question in Model.Questionnaire.Questions)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Вопрос
                </div>
                <div class="card-body question" data-id="@question.Id" data-type="@question.Type">
                    <p class="question-name">@question.Name</p>
                        
                    @switch (question.Type) {
                                        
                        case QuestionType.Single :
                        case QuestionType.Many :
                            <ul class="answers list-group">
                                @foreach (var variantAnswer in question.VariantAnswers)
                                {
                                    switch (question.Type)
                                    {
                                        case QuestionType.Single:
                                            <li class="list-group-item d-flex align-items-center">
                                                <input class="form-check-input me-1 answer-check" data-id="@variantAnswer.Id" name="@question.Name" type="radio" value="" aria-label="...">
                                                <span class="form-control form-control-sm answer-name">@variantAnswer.Name</span>
                                            </li>
                                            break;

                                        case QuestionType.Many:
                                            <li class="list-group-item d-flex align-items-center">
                                                <input class="form-check-input me-1 answer-check" data-id="@variantAnswer.Id" type="checkbox" name="@question.Name" value="" aria-label="...">
                                                <span class="form-control form-control-sm answer-name">@variantAnswer.Name</span>
                                            </li>
                                            break;
                                    }
                                }
                            </ul>
                                
                            break;
                                
                        case QuestionType.Our :
                            <p>Введите свой ответ</p>
                            <input class="form-control form-control-sm our-answer" type="text">
                            break;
                    }
                </div>
            </div>
        }
    </div>
    <a id="end" href="#" class="btn btn-primary">Закончить опрос</a>
</div>

@section Scripts
{
    <script>
        $('#start').click(function () {
            
            let $personeName = $('#personeName'),
                $personAge = $('#personAge');
            
            if ($personeName.val() == '') {
                $personeName.addClass('is-invalid');
                return;
            } else {
                $personeName.removeClass('is-invalid');
            }
            
            let personAge = $personAge.val();            
            if (personAge == '') {
                $personAge.addClass('is-invalid');                
                $('#PersonAgeFeedback').text('Возраст не введен!')
                return;
            } else if (personAge <= 0 || personAge > 120) {
                $personAge.addClass('is-invalid');                
                $('#PersonAgeFeedback').text('Возраст не корректный!')
                return;
            } else {
                $personAge.removeClass('is-invalid');
            }
            
            $personeName.attr('disabled','');
            $personAge.attr('disabled','');  
            $('#personSex').attr('disabled',''); 
            
            $('#questionnaire').removeClass('d-none');
            $('#start').addClass('d-none');
        })
        
        $('#end').click(function () {
            let form = {
                person: {
                    name: $('#personeName').val(),
                    age: $('#personAge').val(),
                    sex: $('#personSex').is(':checked') ? 'Female' : 'Male'
                },
                questionnaireId: $('#questionnaire').data('id'),
                answers: []
            };  
            
            let $questions = $('.question');
            for (let question of $questions) {
                let questionId = $(question).data('id');
                let questionType = $(question).data('type');
                
                if (questionType == 'Our') {
                    form.answers.push({
                        questionId: questionId,
                        ourAnswer: $(question).find('.our-answer').val()                    
                    })
                } else {
                    let $selectedAnswers = $(question).find('.answer-check:checked');                    
                    for (let selectedAnswer of $selectedAnswers){
                        form.answers.push({
                            answerId: $(selectedAnswer).data('id'),
                            questionId: questionId
                        })    
                    }
                }
            }                
            
            $.ajax({
                url : '/Home/SaveFormQuestionnaire/',
                    method : 'post',
                    data : {
                        input : form
                    },
                    success : function () {
                        location.href = '/Home'
                    },
                    error : function (request, exception) {
                        console.log(request);
                        console.log(exception);
                    }
            });  
        })
    </script>
}


