@using QuestinaryWebApp.Views.Shared.Components.FormQuestionnaire
@using QuestinaryWebApp.Views.Shared.Components.Question
@using QuestionnaireWebApp.Core.Enums
@model PassQuestionnaireViewModel

@{
    ViewData["Title"] = "Опросник";
}

<div class="text-center mt-3">
    <h2>@Model.Questionnaire.Name</h2>
    <p>@Model.Questionnaire.Description</p>
</div>

<vc:form-questionnaire model="@(new FormQuestionnaireViewModel {IsVisibleStartBtn = true})"/>

<div id="questionnaire" class="d-none" data-id="@Model.Questionnaire.Id">
    <div id="Questions" class="questions mt-5">

        @foreach (var question in Model.Questionnaire.Questions)
        {
            <vc:question model="@(new QuestionViewModel{Question = question})"/>
        }
    </div>
    <a id="end" href="#" class="btn btn-primary">Закончить опрос</a>
</div>

@section Scripts
{
    <script src="~/js/Shared/Components/FormQuestionnaire/Index.js"></script>
    <script>
        $('#start').click(function () {    
            if (!isValidFormQuestionnaire())
                return;
            
            $('#questionnaire').removeClass('d-none');
            $('#start').addClass('d-none');
        })
        
        $('#end').click(function () {
            let form = {
                person: {
                    name: $('#personeName').val(),
                    age: $('#personAge').val(),
                    sex: $('#personSex').is(':checked') ? 'Female' : 'Male'
                },
                questionnaireId: $('#questionnaire').data('id'),
                answers: []
            };  
            
            let $questions = $('.question');
            for (let question of $questions) {
                let questionId = $(question).data('id'),
                    questionType = $(question).data('type');                
                
                if (questionType == 'Our') {
                    let $ourAnswer = $(question).find('.our-answer');
                    
                    if ($ourAnswer.val() == '') {
                        $ourAnswer.next().addClass('d-block');
                        return;
                    } else {
                        $ourAnswer.next().removeClass('d-block');
                    }
                        
                    form.answers.push({
                        questionId: questionId,
                        ourAnswer: $ourAnswer.val()
                    })
                } else {
                    let selectedAnswers = $(question).find('.answer-check:checked'); 
                    
                    if (selectedAnswers.length == 0) {
                        $(question).find('.invalid-feedback').addClass('d-block');
                        return;
                    } else {
                        $(question).find('.invalid-feedback').removeClass('d-block');
                    }
                    
                    for (let selectedAnswer of selectedAnswers){                        
                        form.answers.push({
                            answerId: $(selectedAnswer).data('id'),
                            questionId: questionId
                        })    
                    }
                }               
            }
            
            $.ajax({
                url : '/Home/SaveFormQuestionnaire/',
                    method : 'post',
                    data : {
                        input : form
                    },
                    success : function () {
                        location.href = '/Home'
                    },
                    error : function (request, exception) {
                        console.log(request);
                        console.log(exception);
                    }
            });  
        })
    </script>
}