@using QuestionnaireWebApp.Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using QuestionnaireWebApp.Core.Models
@using QuestionnaireWebApp.Views.Shared.Components.Questionnaire
@model ConstructorViewModel

@{
    ViewData["Title"] = "Создание опроса"; //Это приписка для каждой страницы для тега Title(отображает название вкладки) в HTML
    //ViewData и ViewBag используются как Портал через который каждая страница может довавить свое наименование на Шаблонной странице
}

<style> 
    .constructor-menu {
    position: fixed;
    right: 70px;
    top: 50%;
    }
</style> 

<h2 class="mt-5">Конструктор</h2>

<div id="questionnaire" class="card" data-id="@(Model?.Questionnaire?.Id ?? 0)">
    @*сохраняем ИД, вариант передачи данных через тег data*@
    <h5 class="card-header">Опросник</h5>
    <div class="card-body">
        <input id="questionnaire-name" class="form-control form-control-lg" type="text" placeholder="Название" value="@(Model != null ? Model.Questionnaire.Name : "")">
        <div id="NameInvalidFeedback" class="invalid-feedback">
            Название не введено!
        </div>
        <input id="questionnaire-description" class="form-control form-control-sm mt-3" type="text" placeholder="Описание" value="@(Model != null ? Model.Questionnaire.Description : "")">
    </div>
</div>
<div id="questionsInvalidFeedback" class="invalid-feedback">
    Не добавлены вопросы!
</div>

<div id="Questions" class="questions mt-5">
    @if (Model is not null)
    {
        foreach (var question in Model.Questionnaire.Questions)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Вопрос
                </div>
                <div class="card-body">
                    <input class="form-control question-name" type="text" value="@question.Name" aria-label="default input example">
                    <select class="form-select mt-3 type-answer" aria-label="Default select example">
                        @{
                            var values = new Dictionary<string, string>
                            {
                                {"single", "Одиночный выбор"},
                                {"many", "Множественный выбор"},
                                {"our", "Свой ответ"}
                            };
                            foreach (var value in values)
                            {
                                if (value.Key == question.Type.ToString())
                                {
                                    <option value="@value.Key" selected>@value.Value</option>
                                }
                                else
                                {
                                    <option value="@value.Key">@value.Value</option>
                                }
                            }
                        }

                    </select>

                    <ul class="answers list-group">
                        @foreach (var variantAnswer in question.VariantAnswers)
                        {
                            switch (question.Type)
                            {
                                case QuestionType.Single:
                                    <li class="list-group-item d-flex align-items-center">
                                        <input disabled class="form-check-input me-1" type="radio" value="" aria-label="...">
                                        <input class="form-control form-control-sm answer-name" type="text" value="@variantAnswer.Name" aria-label=".form-control-sm example">
                                    </li>
                                    break;

                                case QuestionType.Many:
                                    <li class="list-group-item d-flex align-items-center">
                                        <input disabled class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <input class="form-control form-control-sm answer-name" type="text" value="@variantAnswer.Name" aria-label=".form-control-sm example">
                                    </li>
                                    break;
                            }
                        }

                        <li class="list-group-item d-flex align-items-center add-answer-variant">
                            <input disabled class="form-check-input me-1" type="radio" value="" aria-label="...">
                            Добавить вариант ответа
                        </li>

                    </ul>
                </div>
            </div>
        }
    }
</div>

<ul class="list-group constructor-menu">
    <li class="list-group-item">
        <button id="AddQuestion" class="btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Добавить вопрос">
            <i class="fa-solid fa-circle-plus"></i>
        </button>
    </li>

    <li class="list-group-item">
        <button id="Save" class="btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Сохранить опросник">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>
    </li>
</ul>

@section Scripts{
    <script>
    $(function() {
        
        $('body').tooltip({
            selector: '[data-bs-toggle="tooltip"]',
            trigger: 'hover'
        });
        
        let questionnaire = {
            questions : []
        };
        
        //Обработка события клик при добавлении вопроса
        $('#AddQuestion').click(function() {
            
            $('#questionsInvalidFeedback').removeClass('d-block');
            
            $('#Questions').append(`
                <div class="card mb-3">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        Вопрос
                        <i data-bs-toggle="tooltip" title="Удалить вопрос" class="fa-solid fa-trash-can text-danger remove" role="button"></i>
                    </div>
                    <div class="card-body">
                        <input class="form-control question-name" type="text" placeholder="Название" aria-label="default input example">
                        <div class="invalid-feedback">
                            Название не введено!
                        </div>
                        <select class="form-select mt-3 type-answer" aria-label="Default select example">
                            <option selected disabled>Тип вариантов ответа</option>
                            <option value="single">Одиночный выбор</option>
                            <option value="many">Множественный выбор</option>
                            <option value="our">Свой ответ</option>
                        </select>
                        <div class="invalid-feedback">
                            Не выбран тип варианта ответа!
                        </div>
        
                      <ul class="answers list-group">
                        
                      </ul>
                    </div>
                </div>
            `);
            
        });
        
        //Обработка события изменения значения в выпадающем списке
        $(document).on('change', '.type-answer', function() {
            let selectedValue = this.value;
            let $answers = $(this).next().next();
            
            $(this).next().removeClass('d-block');
            
            switch (selectedValue) {
                case 'single' : 
                    $answers.empty();
                    $answers.append(`
                                   <li class="list-group-item">
                                   <div class="d-flex align-items-center">
                                        <input disabled class="form-check-input me-1" type="radio" value="" aria-label="...">
                                        <input class="form-control form-control-sm answer-name" type="text" placeholder="Название ответа" aria-label=".form-control-sm example">
                                   </div>                                     
                                   <div class="invalid-feedback">
                                       Не введено название ответа!
                                   </div>
                                   </li>   
                                    <li class="list-group-item d-flex align-items-center add-answer-variant">
                                     <input disabled class="form-check-input me-1" type="radio" value="" aria-label="...">
                                     Добавить вариант ответа
                                   </li>   
                                   `)
                    break;
                    
                case 'many' :
                    $answers.empty();
                    $answers.append(`
                    <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <input disabled class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <input class="form-control form-control-sm answer-name" type="text" placeholder="Название ответа" aria-label=".form-control-sm example">
                    </div>
                     <div class="invalid-feedback">
                        Не введено название ответа!
                     </div>
                   </li>   
                    <li class="list-group-item d-flex align-items-center add-answer-variant">
                     <input disabled class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                     Добавить вариант ответа
                   </li>  
                    `)
                break;
                
                case 'our' :
                    $answers.empty();             
            }              
        })
        
        //Добавление варианта ответа
        $(document).on('click', '.add-answer-variant', function (){
            let selectedTypeAnswer = $(this).parent().prev().prev().val();
            
            switch (selectedTypeAnswer) {
                
                case 'single' :
                    $(this).before(`
                                  <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <input disabled class="form-check-input me-1" type="radio" value="" aria-label="...">
                                        <input class="form-control form-control-sm answer-name" type="text" placeholder="Название ответа" aria-label=".form-control-sm example"> 
                                    </div>                                     
                                    <div class="invalid-feedback">
                                        Не введено название ответа!
                                    </div>
                                 </li>         
                                `)
                    break;
                case 'many' :
                    $(this).before(`
                                  <li class="list-group-item">
                                  <div class="d-flex align-items-center">
                                       <input disabled class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                       <input class="form-control form-control-sm answer-name" type="text" placeholder="Название ответа" aria-label=".form-control-sm example"> 
                                  </div>                                    
                                    <div class="invalid-feedback">
                                        Не введено название ответа!
                                    </div>
                                 </li>         
                                `)
            }             
        })      
        
        //Обработка клика по корзине на вопросе
        $(document).on('click', '.remove', function () {
            $(this).tooltip('hide');
            $(this).parent().parent().remove();
        })
        
        //Обработка клика кнопки сохранения опросника
        $('#Save').click(function () {
            
            questionnaire.name = $('#questionnaire-name').val();
            questionnaire.description = $('#questionnaire-description').val();
            
            if (questionnaire.name == '') {
                $('#NameInvalidFeedback').addClass('d-block');
                return;
            }
            $('#NameInvalidFeedback').removeClass('d-block');
            
            let $questionNames = $('.question-name');
            
            if ($questionNames.length == 0) {
                $('#questionsInvalidFeedback').addClass('d-block');
                return;
            }            
            
            for (let questionName of $questionNames) {
                
                if ($(questionName).val() == '') {
                    $(questionName).next().addClass('d-block');
                    return;
                }                 
                $(questionName).next().removeClass('d-block');                
                
                let $selectTypeQuestion = $(questionName).next().next();
                
                if($selectTypeQuestion.val() == null) {
                    $selectTypeQuestion.next().addClass('d-block');
                    return;
                }                 
                $selectTypeQuestion.next().removeClass('d-block');
                
                
                let question = {
                    name: $(questionName).val(),
                    type: $selectTypeQuestion.val()
                };
                
                let $answers = $(questionName).next().next().next().next();
                let answerNames = $answers.find('.answer-name');
                
                if (answerNames.length > 0){
                   question.variantAnswers = [];
                   
                   for (let answerName of answerNames){
                       if ($(answerName).val() == '') {
                           $(answerName).parent().next().addClass('d-block');
                           return;
                       }
                       $(answerName).parent().next().removeClass('d-block');
                       
                       question.variantAnswers.push({
                           name : $(answerName).val()
                       });                       
                   }
                }
                
                questionnaire.questions.push(question);
            }
            questionnaire.id = $('#questionnaire').data('id');
            
            $.ajax({
                url : '/Constructor/Save/',
                method : 'post',
                data : {
                    input : questionnaire
                },
                success : function () {
                    location.href = '/Home'
                },
                error : function (request, exception) {
                    console.log(request);
                    console.log(exception);
                }
            });
            
        });
    });
    </script>
}